*
{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Space Grotesk', sans-serif;
}

:root
{
    --generalColorFontSize: 2rem;
    --generalBackgroundBtn: #22b95c86;
    --generalBackground: #83e09762;
    --textColor: #36423a;
}



body
{
    background-color: #B3E5BE;
}


@media only screen and (max-width: 1050px) {
    .mainBlockContent
    {
        transition: all .3s;
        display: grid;
        grid-template-rows: repeat(1fr);
        width: 95%;
        height: 130rem;
        margin: 1em auto 7em;
        background-color: var(--generalBackground);
        border-radius: 20px;
        box-shadow: 0px 10px 10px #4d9c5e62;
    }



    .mainBlockContent > div:nth-child(n)
    {
        background-color: #58b06b62;
        margin: 13px;
        border-radius: 14px;
    }


    .logoMenu
    {
        z-index: 5;
        position: fixed;
        left: 0%;
        bottom: 0%;
        display: flex;
        width: 100%;
        padding: 0.4rem 0rem;
        border-radius: 5px;
        background-color: #83e097;
        transition: all .3s;
        box-shadow: 0px 10px 10px #4d9c5e62;
    }


    

    .logoMenu a
    {    
        display: inline-block;
        margin: 0px 0.3rem;
        padding: 0.2em;
        background-color: #168a4386;
        font-size: 1.1em;
        text-align: center;
        user-select: none;
        transition: all .3s;
        border-radius: 5px;
        position: relative;
        flex-grow: 1;
        cursor: pointer;
        color: #1e1d1d;  
        text-decoration: none;
    }   
        
    .logoMenu a:hover {
        transform: translateY(-5px); /* кнопка піднімається */
        box-shadow: 0 5px #187e2e;
    
    }
    

}





  
/* медіа-запит для моніторів */
@media only screen and (min-width: 1050px)
{
    .mainBlockContent 
    {
        display: grid;
        width: 80%;
        height: 80vh;
        margin: 1em auto 2em;
        background-color: var(--generalBackground);
        border-radius: 20px;
        box-shadow: 0px 10px 10px #4d9c5e62;
    }

    .mainBlockContent > div:nth-child(n)
    {
        background-color: #58b06b62;
        margin: 13px;
        border-radius: 14px;
    }

    .logoMenu
    {
        display: flex;
        width: 55%;
        margin: 1em auto 0;
        padding: 0.5em 0em;
        border-radius: 20px;
        background-color: var(--generalBackground);
        transition: all .1s;
        box-shadow: 0px 10px 10px #4d9c5e62;
    }

    

    .logoMenu a
    {    
        display: inline-block;
        margin: 0px 0.5em;
        padding: 0.2em;
        background-color: var(--generalBackgroundBtn);
        font-size: var(--generalColorFontSize);
        text-align: center;
        user-select: none;
        transition: all .1s;
        border-radius: 15px;
        position: relative;
        flex-grow: 1;
        cursor: pointer;
        color:var(--textColor);  
        text-decoration: none;
    }   
            
    .logoMenu a:hover {
        transform: scale(1.01) translateY(-3px); /* кнопка піднімається */
        box-shadow: 0 4px 8px #116924;
    
    }
    

}










    .mainBlockSectionTextLogo 
    {
        overflow: hidden;
        position: relative;
        
    }



        .mainBlockSectionTextLogo span
        {
            position: absolute;
            left:48%;
            top: 50%;
            font-size: 2.2em;
            color: var(--textColor);
            width: 70%;
            text-align: center;
            user-select: none;
            cursor: default;
            transition: all 0.3s;
            transform: translate(-50%, -50%);
            padding: 5px 20px;
        }
        
   


 
        .blockInfo
        {
            position: relative;
            overflow: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }




        .blockInfo span
        {
            position: absolute;
            width: 90%;
            text-align: center;
            font-size: 1.3em;
            color: var(--textColor);
            
        }



        @media screen and (max-width: 1050px) {
            .blockInfo span {
                font-size: 1.1em; /* Змінюємо розмір шрифту для пристроїв з шириною екрану менше 768px */
            }
        }




    .blockOtherInfo
    {
        position: relative;
        transition: all .3s;
    }


        .blockOtherInfo span:nth-child(2)
        {
            position: absolute;
            top: 60%;
            width: 100%;
            font-size: 1.1em;
            z-index: 3;
            color: var(--textColor);
            text-align: center;
            transition: all .2s;
            user-select: none;
        }

        .blockOtherInfo span:nth-child(1)
        {
            position: absolute;
            left: 49%;
            top: 35%;
            font-size: 1.5em;
            text-align: center;
            transition-delay: all 0.2s;
            transition: all .3s;
            transform: translate(-50%, -50%);
            background-color: #18391f62;
            color: rgb(160, 231, 181);
            padding: 10px;
            user-select: none;
            border-radius: 15px;
        }

            .blockOtherInfo:hover > span:nth-child(2)
            {
                background-color: #18391f;
                box-shadow: 0px 10px 15px #0f261462;
                color: rgb(160, 231, 181);
                transform: scale(1.05);
                top: 53%;         
                border-radius: 10px;
                padding: 2px;
            }

            .blockOtherInfo:hover > span:nth-child(1)
            {
                top: 30%;
            }
        